<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- store_goods_info表:物料信息表模块 -->
<mapper namespace="com.stone.equipsys.core.mapper.StoreGoodsInfoMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.stone.equipsys.core.domain.StoreGoodsInfo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_type" property="goodsType" jdbcType="BIGINT" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,goods_name,goods_type,remarks 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="goodsName != null and goodsName != '' ">
                and goods_name = #{goodsName,jdbcType=VARCHAR}
            </if>
            <if test="goodsType != null and goodsType != '' ">
                and goods_type = #{goodsType,jdbcType=BIGINT}
            </if>
            <if test="remarks != null and remarks != '' ">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.stone.equipsys.core.domain.StoreGoodsInfo">
        insert into store_goods_info(goods_name,goods_type,remarks)values(#{goodsName,jdbcType=VARCHAR},#{goodsType,jdbcType=BIGINT},#{remarks,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.stone.equipsys.core.domain.StoreGoodsInfo">
        update store_goods_info set 
            goods_name = #{goodsName,jdbcType=VARCHAR},
            goods_type = #{goodsType,jdbcType=BIGINT},
            remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update store_goods_info
          <set>
            <if test="goodsName != null and goodsName != '' ">        
                goods_name = #{goodsName,jdbcType=VARCHAR},                
            </if>
            <if test="goodsType != null and goodsType != '' ">        
                goods_type = #{goodsType,jdbcType=BIGINT},                
            </if>
            <if test="remarks != null and remarks != '' ">        
                remarks = #{remarks,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from store_goods_info
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_info
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_info
        <include refid="searchBy"/>
    </select>
    
</mapper>
