<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- store_goods_model_number_info表:物料规格表模块 -->
<mapper namespace="com.stone.equipsys.core.mapper.StoreGoodsModelNumberInfoMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.stone.equipsys.core.domain.StoreGoodsModelNumberInfo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="model_number_name" property="modelNumberName" jdbcType="VARCHAR" />
        <result column="quantity" property="quantity" jdbcType="INTEGER" />
        <result column="total_value" property="totalValue" jdbcType="DECIMAL" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,goods_id,model_number_name,quantity,total_value,unit,remarks 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="goodsId != null and goodsId != '' ">
                and goods_id = #{goodsId,jdbcType=BIGINT}
            </if>
            <if test="modelNumberName != null and modelNumberName != '' ">
                and model_number_name = #{modelNumberName,jdbcType=VARCHAR}
            </if>
            <if test="quantity != null and quantity != '' ">
                and quantity = #{quantity,jdbcType=INTEGER}
            </if>
            <if test="totalValue != null and totalValue != '' ">
                and total_value = #{totalValue,jdbcType=DECIMAL}
            </if>
            <if test="unit != null and unit != '' ">
                and unit = #{unit,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null and remarks != '' ">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.stone.equipsys.core.domain.StoreGoodsModelNumberInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into store_goods_model_number_info(goods_id,model_number_name,quantity,total_value,unit,remarks)values(#{goodsId,jdbcType=BIGINT},#{modelNumberName,jdbcType=VARCHAR},#{quantity,jdbcType=INTEGER},#{totalValue,jdbcType=DECIMAL},#{unit,jdbcType=VARCHAR},#{remarks,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.stone.equipsys.core.domain.StoreGoodsModelNumberInfo">
        update store_goods_model_number_info set 
            goods_id = #{goodsId,jdbcType=BIGINT},
            model_number_name = #{modelNumberName,jdbcType=VARCHAR},
            quantity = #{quantity,jdbcType=INTEGER},
            total_value = #{totalValue,jdbcType=DECIMAL},
            unit = #{unit,jdbcType=VARCHAR},
            remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update store_goods_model_number_info
          <set>
            <if test="goodsId != null and goodsId != '' ">        
                goods_id = #{goodsId,jdbcType=BIGINT},                
            </if>
            <if test="modelNumberName != null and modelNumberName != '' ">        
                model_number_name = #{modelNumberName,jdbcType=VARCHAR},                
            </if>
            <if test="quantity != null and quantity != '' ">        
                quantity = #{quantity,jdbcType=INTEGER},                
            </if>
            <if test="totalValue != null and totalValue != '' ">        
                total_value = #{totalValue,jdbcType=DECIMAL},                
            </if>
            <if test="unit != null and unit != '' ">        
                unit = #{unit,jdbcType=VARCHAR},                
            </if>
            <if test="remarks != null and remarks != '' ">        
                remarks = #{remarks,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_number_info
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_number_info
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_number_info
        <include refid="searchBy"/>
    </select>
    
</mapper>
