<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- store_goods_model_store表:物料库存映射表模块 -->
<mapper namespace="com.stone.equipsys.core.mapper.StoreGoodsModelStoreMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.stone.equipsys.core.domain.StoreGoodsModelStore">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="model_id" property="modelId" jdbcType="BIGINT" />
        <result column="store_id" property="storeId" jdbcType="BIGINT" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,model_id,store_id 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="modelId != null and modelId != '' ">
                and model_id = #{modelId,jdbcType=BIGINT}
            </if>
            <if test="storeId != null and storeId != '' ">
                and store_id = #{storeId,jdbcType=BIGINT}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.stone.equipsys.core.domain.StoreGoodsModelStore">
        insert into store_goods_model_store(model_id,store_id)values(#{modelId,jdbcType=BIGINT},#{storeId,jdbcType=BIGINT})
    </insert>

    
    <update id="update" parameterType="com.stone.equipsys.core.domain.StoreGoodsModelStore">
        update store_goods_model_store set 
            model_id = #{modelId,jdbcType=BIGINT},
            store_id = #{storeId,jdbcType=BIGINT}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update store_goods_model_store
          <set>
            <if test="modelId != null and modelId != '' ">        
                model_id = #{modelId,jdbcType=BIGINT},                
            </if>
            <if test="storeId != null and storeId != '' ">        
                store_id = #{storeId,jdbcType=BIGINT}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_store
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_store
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from store_goods_model_store
        <include refid="searchBy"/>
    </select>
    
    <delete id="deleteByModelid" parameterType="java.lang.Long">
    	delete 
    	from store_goods_model_store
		WHERE 
		model_id = #{modelid};
    </delete>
</mapper>
